*.ipynb*
*.ipynb

# local data
output/*
data/*
temp*
test*

# python
.ipynb_checkpoints
*.ipynb
**/__pycache__/

# logs
*.log
*.out

models/Layout/*
models/MFD/*
models/MFR/*

.idea

layoutlmv3/output
layoutlmv3/object_detection/publaynet
layoutlmv3/object_detection/output
layoutlmv3/chinese/output

demo/dit-document-layout-analysis
demo/document-image-transformer

